<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'layouts/user', user: @user %>
      <%= render 'layouts/book', book: @book %>
    </div>

    <div class="col-8">
      <%= render 'layouts/list'%>
    </div>
  </div>
</div>